<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->
    <include file="$(find burger_navigation)/launch/burger_navigation.launch"/>

    <node pkg="burger_war" type="domaeBot.py" name="domaeBot" output="screen"/>
    <!-- <node pkg="burger_war" type="detect_enemy.py" name="detect_enemy" output="screen" /> -->
    <include file="$(find burger_war)/launch/obstacle_detector.launch"/>
    <!-- name="robot_namespace" default="$(arg robot_namespace)"/>
  </include>-->
</launch>

